$mobile-width: 415px;
$tablet-width: 1100px;
$desktop-width: 1200px;

/*
    Mixins for media queries
    Usage: 

    @include tablet {
    // Put your tablet related CSS here
    }
*/
@mixin mobile {
    @media (max-width: #{$mobile-width}){
        @content;
    }
}

@mixin tablet {
    @media (max-width: #{$tablet-width}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

// font imports
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Work+Sans:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,600&display=swap');


// Styles
body {
    background-color: #fff;
    margin: 0px;
    color: #000;
}

a {
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid black;

  &:hover {
    border-bottom: none;
  }
}
